*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial;
}

body{
  display:flex;
  min-height:100vh;
  overflow:auto;
}

.sidebar{
  width:260px;
  background:#0d47a1;
  color:white;
  padding:15px;
  overflow:auto;
  transition:.3s;
}

.sidebar input{
  width:100%;
  padding:8px;
  margin-bottom:10px;
}

.sidebar a{
  display:block;
  padding:8px;
  background:#1976d2;
  margin:5px 0;
  color:white;
  text-decoration:none;
  border-radius:5px;
  cursor:pointer;
}

.back-btn{
  width:100%;
  padding:10px;
  margin-bottom:10px;
  border:none;
  border-radius:6px;
  background:white;
  color:#0d47a1;
  font-weight:bold;
}

.main{
  flex:1;
  display:flex;
  flex-direction:column;
}

.header{
  background:#1976d2;
  color:white;
  padding:10px;
  display:flex;
  align-items:center;
}

.menu-btn{
  margin-right:10px;
  cursor:pointer;
  display:none;
}

.nav-box{
  padding:10px;
  background:#bbdefb;
}

.map-container{
  flex:1;
  overflow:auto;
  display:block;
  background:#e0e0e0;
}

.map{
  position:relative;
  width:100%;
  max-width:1200px;
  aspect-ratio:4/3;
  margin:auto;
  background:url("images/he_is_ryzen.png") no-repeat center;
  background-size:contain;
  box-shadow:0 10px 30px rgba(0,0,0,0.15);
  border-radius:10px;
}

#routeLayer{
  position:absolute;
  width:100%;
  height:100%;
  z-index:5;
  pointer-events:none;
}

.area{
  position:absolute;
  width:14px;
  height:14px;
  border-radius:50%;
  background:#555;
  transform:translate(-50%,-50%);
  cursor:pointer;
  z-index:10;
}

.modal{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(0,0,0,.6);
  display:none;
  justify-content:center;
  align-items:center;
}

.modal-content{
  background:white;
  width:600px;
  max-width:90%;
  border-radius:12px;
  overflow:hidden;
}

.modal-header{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:10px;
  background:#1976d2;
  color:white;
}

.close-btn{
  background:rgba(0,0,0,0.6);
  color:white;
  border:none;
  border-radius:50%;
  width:30px;
  height:30px;
  cursor:pointer;
}

.modal-img{
  width:100%;
  height:300px;
  object-fit:cover;
}

.modal-body{
  padding:10px;
}

.tooltip{
  position:absolute;
  background:#222;
  color:white;
  padding:6px;
  border-radius:8px;
  opacity:0;
  pointer-events:none;
  transition:0.2s;
  z-index:999;
  text-align:center;
  width:160px;

  white-space:normal;
  word-wrap:break-word;
  overflow-wrap:break-word;
}

.tooltip-img{
  width:100%;
  height:80px;
  object-fit:cover;
  border-radius:6px;
  display:block;
  margin-bottom:5px;
}

@media(min-width:769px){
  .sidebar{
    position:relative;
    height:100vh;
  }

  .menu-btn{
    display:none;
  }

  .back-btn{
    display:none;
  }
}

@media(max-width:768px){

  body{
    flex-direction:column;
  }

  .sidebar{
    position:absolute;
    left:-260px;
    top:0;
    height:100%;
    z-index:100;
  }

  .sidebar.active{
    left:0;
  }

  .menu-btn{
    display:block;
  }

  .tooltip{
    display:none !important;
  }

  .map-container{
    padding:0;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
  }

  .map{
    width:100vw;
    max-width:none;
    aspect-ratio:4/3;
    margin:0 auto;
    background-size:contain;
  }
}